
*{box-sizing: border-box;}
body{
    font-family: "Open Sans", sans-serif;
    background-color: grey;
}
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
.row{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}
[class*="col-"]{
    padding-left: -15px;
    padding-right: -15px;
}
.col-xs-12{
    flex: 0 0 100%;
    max-width: 100%;
}

.page-header{
    background-color: #1d2126;;
}
.main-menu{
    display: flex;
    align-items: center;
}

.main-menu-item:hover{
    border: 2px solid #5b6168;
    border-radius: 4px;
}
.main-menu-item:active{
    border: 2px solid #23b7a4;
    border-radius: 4px;
}
.main-menu-item>a:active{
    color: #23b7a4;
}
.main-menu-item>a{
    text-transform: uppercase;
    color:#929b9b;
    font-family: 'Open Sans', sans-serif;
    height: 30px; 
    line-height: 30px;
    font-weight:600;
    font-size: 14px;
    text-decoration: none;
}
.search-area{
    display: flex;
}
.search{
    position: relative;
    height: 30px;
    border: 2px solid #3c4147;
    border-radius: 4px;
    background-color: unset;
    padding:0 6px ;
}
.search>input[type=text]{
    width: 75%;
    height: 100%;
    border: none;
    background-color: unset;
    outline: none;
}
.search>input[type=text]:focus{
    outline: none;
    color: #23b7a4;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.search>input[type=text]::placeholder{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #a4aead;
}
.search>input[type=button]{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 3px; right: 5px;
    background: url(blog/icon\ \(1\).png) no-repeat 50% 50%;
    border: none;
    outline: none;
}
.search>input[type=button]:hover{
    box-shadow: 0 0 5px #23b7a4 ;
    border-radius: 4px;
}

/* main */
#slider{
    background: url(blog/img\(bg_1_page\).png);
}
.content-of-slider-section>.text-of-section{
    color: #ccd0d7;
}
.name-of-section{
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 50px;
}
.text-of-section{
    font-weight: 400;
    font-size: 16px;
}
.btn{
    text-transform: uppercase;
    color: #fff;
    background: none;
    margin-right: 5px;
    width: 124px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    border-radius: 3px;
    border: #fff solid 2px;
    font-weight: bold;
    word-spacing:initial;
    font-family: 'Quattrocento Sans', sans-serif;
}
.btn:hover{
    border-color: rgb(35, 183, 164);
    background-color: rgb(35, 183, 164);
    cursor:pointer
      
}
/* slider */
.slide-buttons{
width: 13px;
height: 13px;
border: 2px solid #fff;
border-radius: 50%;
margin-right: 10px;
}
.slide-buttons:hover{
    background-color: #fff;
}
.slider-arr{
    display: flex;
    justify-content: center;
}
.slider-section-buttons{
    width: 100%;
}
.name-decoration{
    display: flex;
    margin-top: 80px;
}
.name-decoration::before{
    content: "";
    display: block;
    width: 10px;
    height: 35px;
    background-color: #e1e6ea;
    margin-right: 15px;
}
/* We aremodest */
#we-are-modest-section{
    background-color: #fff;
    border-bottom: 1px solid #dde1e4;
}
#we-are-modest-section .name-of-section{
    display: flex;
    margin-bottom: 0px;

}
.we-are-modest-section-part-1 .text-of-section{
    color: #8d8f92;
}
.we-are-modest-section-part-1 {
    display: flex;
}
.we-are-modest-section-part-2 .text-of-section{
    color: #8d8f92;
}
.we-are-modest-section-part-2 .name-of-description-item{
    text-transform: uppercase;}
.hrefs-social-networks{
    display: flex;
    margin-bottom: 40px;
}
.social-networks-item{
    width: 60px;
    height: 60px;
    border: 1px solid #fff
}
.facebook-item{
    background:#d0d5d9 url(blog/icon\ \(6\).png) 50% 50%;
}
.twitter-item{
    background:#d0d5d9 url(blog/icon\ \(4\).png) 50% 50%;
}
.google-item{
    background:#d0d5d9 url(blog/icon\ \(5\).png) 50% 50%;
}
.dribbble-item{
    background:#d0d5d9 url(blog/icon\ \(3\).png) 50% 50%;
}
.behance-item{
    background:#d0d5d9 url(blog/icon\ \(2\).png) 50% 50%;
}
.social-networks-item:hover{
    cursor: pointer;
}
 .name-of-description-item{
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
.number-of-description-item{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #39a493;
    margin-right: 20px;}

/* meet-the-team */
#meet-the-team{
    background-color: #fff;
    
}
.pofile-of-team{
    background-color: #e1e6ea;
    margin-bottom: 30px;
}

.description-of-profile{
    padding:20px;
}
.name-of-team{
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #292f36;
}
.office-position{
    font-size: 14px;
    color: #8d8f92;
}



/* tablet */
@media(min-width:768px){
    .container{
        max-width: 720px ;
    }
    .col-sm-2{
        flex:0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-sm-7{
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
  
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
    }
    
    .main-menu{
        display: flex;
        height: 80px;
        justify-content: center
    }
    .main-menu-item{
        padding: 0 6px;
    }
    .search-area{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }
    .content-of-slider-section{
        color: #fff;
        height: 660px;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content-of-slider-section .text-of-section{
        margin:30px 0 40px 0
    }
    .slide{
        padding: 30px 0;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    #slider{
        background-position: center;
        background-size: cover;    
    }
    
    .we-are-modest-section-part-1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 50px;
    }
    .we-are-modest-section-part-1 .text-of-section{
        margin-bottom: 40px;
    }
    .we-are-modest-section-part-2{
        padding-bottom: 50px;
    }
    .description-case-list{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .description-case-item{
        display: flex;
        margin-bottom: 20px;
    }
    .description-case-item:last-child{
        margin-bottom: 0px;
    }
    .name-of-description-item{
        margin-bottom: 10px;
    }
    .number-of-description-item{
        flex-shrink: 0;
    }

    
     
}

/* laptop */
@media(min-width:992px){
    .container{
        max-width: 960px;
    }
    .col-md-3{
        flex:0 0 25%;
        max-width: 25%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-5 {
        flex: 0 0 41.66666%;
        max-width: 41.66666%;
    }
    
    .logo{
        display: flex;
        justify-content: flex-start;
    }
    .main-menu{
        justify-content: space-around;
    }  
    .main-menu-item{
        padding: 0 10px;
        border-style: solid;
        border-width: 2px;
        border-color: transparent;
        }
    #we-are-modest-section{
            height: 615px;
        }
    .we-are-modest-section-part-1{
        display: flex;
        justify-content: flex-start;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .we-are-modest-section-part-2{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .description-case-list{
        display: flex;
        justify-content: flex-start;
    }
    #meet-the-team{
        height: 650px;
    }
    
    
    
}

/* desktop */
@media(min-width:1200px){
    .container{
        max-width: 1170px;
    }
    .col-md-12{
        flex:0 0 100%;
        max-width: 100%;
    }
    .col-md-2{
        flex:0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3{
        flex:0 0 25%;
        max-width: 25%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .logo{
        justify-content: flex-start;
    }
    
    .search-area{
        height: 80px;
        margin: 0;
        justify-content: flex-end;
    }
    .we-are-modest-section-part-1 .text-of-section{
        margin-bottom: 40px;
    }
    
    
}


/* only-mobile */
@media(max-width:767px){
    .col-xs-12{
        width: 100%;
    }
    .container>.row{
        padding: 0 10px;
        
    }
    .col-xs-hidden{
        display: none;}
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    
    .main-menu-item{
        padding: 0 10px;
    }
    .main-menu{
        display: flex;
        height: 60px;
        justify-content: space-between;
        overflow: scroll;
        margin-bottom: 5px;
        }
    .main-menu::-webkit-scrollbar{
        width: 100%;
        height: 4px;
        line-height: 4px;
    }
    .main-menu::-webkit-scrollbar-track {   width: 100%;
        box-shadow: 0 0 5px #fff;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.144);
    }
    .main-menu::-webkit-scrollbar-thumb{
        height: 1px;
        background-color:#23b7a4;
        box-shadow: 0 0 2px rgb(255, 255, 255);
        border-radius: 50px;
    }  
    .main-menu-item{
        margin: 5px 0;
    }
    #slider{
        background-position: center;
        background-size: cover;    
    }
    .content-of-slider-section{
        color: #fff;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 10px;
    }
    
    .slide{
        display: flex;
        padding-bottom: 30px;
        justify-content: center;
    }
    .slider-section-buttons{
        display: flex;
        justify-content: space-evenly;
    }
    
    .we-are-modest-section-part-1{
        flex-direction: column;
    }
    .we-are-modest-section-part-1 .text-of-section{
        margin-bottom: 20px;
    }
    .hrefs-social-networks{
        display: flex;
        justify-content: space-evenly;
    }
    .name-of-section{
        margin-bottom: 30px;
    }
    .description-case-item{
        display: flex;
        margin-bottom: 30px;
    }
    .number-of-description-item{
        flex-shrink: 0;
    }
    
    }
